initTankCount=10
# Fire Strategy
CommonFire=small.com.major.bullets.FireStrategy.Impl.CommonFire
FourDirFire=small.com.major.bullets.FireStrategy.Impl.FourDirFire
# Collider
BulletTankCollider=small.com.major.bullets.BulletTankCollider
TankCollider=small.com.major.tanks.TankCollider
BrickWallBulletCollider=small.com.major.Wall.BrickWallBulletCollider
BrickWallCollider=small.com.major.Wall.BrickWallCollider